<!--cntl+shift+F -->
<!--<suite name="OrangeHRMSuite" parallel="tests" thread-count="5"> -->
<!--<suite name="OrangeHRMSuite" parallel="methods" thread-count="5"> -->
<!--<suite name="OrangeHRMSuite" parallel="classes" thread-count="5"> -->

<suite name="API Test Suite"  thread-count="4"> 
	<listeners>
		<listener class-name="com.api.listeners.TestListener"></listener>
	</listeners>
	<test name="API Test">
		<classes>
			<class name="com.api.tests.LoginApiTest3" />
			<class name="com.api.tests.GetProfileRequestTest" />
			<class name="com.api.tests.UpdateProfileTest" />

			<!-- 
			<class name="com.api.tests.AccountCreationTest" />
			<class name="com.api.tests.LoginApiTest" />
			<class name="com.api.tests.LoginApiTest2" />
			<class name="com.api.tests.ResetPasswordTest" />
			<class name="com.api.tests.ForgotPasswordTest" />
			-->
		</classes> 
	</test>
</suite>